# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
app/libs/
app/src/main/res/drawable/
build/android-profile/profile-2017-07-12-21-09-43-741.rawproto
build/android-profile/profile-2017-07-12-21-09-44-563.rawproto
build/android-profile/profile-2017-07-12-21-11-33-146.rawproto
build/android-profile/profile-2017-07-12-21-11-34-130.rawproto
build/generated/
.idea
.gradle
gradle
build
